.profile-img-card {
    width: 140px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 5%;
    padding-top: 80px;
}

